<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button color="favorite">
    hola
  </ion-button>
  <div class="myclass">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eveniet, distinctio sequi similique aperiam, enim iure, natus nemo nostrum non fugiat libero itaque illum saepe quidem maxime vel vero fugit?</p>
  </div>
  The world is your oyster.
  <p>If you get lost, the
    <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
</ion-content>
